/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #333;
  margin-bottom: 1.6rem;
  text-align: center;
}

body {
  padding-bottom: 5rem;
}

/* Box Shadow Container */
#box-shadow-generator {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
}

/* Forms */
#controls-container,
#preview {
  flex: 1;
  padding: 2rem;
}

.form-control {
  border-bottom: 1px dashed #ccc;
  display: flex;
  margin-bottom: 1.2rem;
  padding-bottom: 1.2rem;
}

.form-control label {
  color: #555;
  font-weight: bold;
  margin-bottom: 1rem;
}

.range-input {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.range-input input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #e5e5e5;
  border-radius: 10px;
  height: 20px;
  width: 100%;
  outline: none;
}

.range-input input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #7a378d;
  border-radius: 50%;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.reference-input {
  display: flex;
  align-items: center;
}

.reference-input p {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
}

.form-control input[type="text"] {
  height: 30px;
  width: 30px;
  margin-top: 1.8rem;
  margin-left: 1rem;
  text-align: center;
}

/* New funcionalities */
#color-value {
  min-width: 100px;
}

#inset {
  align-self: start;
  height: 20px;
  width: 20px;
}

/* Preview */
#box {
  background-color: #7a378d;
  border-radius: 20px;
  height: 300px;
  width: 100%;
}

/* Generator */
#generated-rule {
  text-align: center;
}

#generated-rule p {
  color: #555;
  margin-bottom: 0.5rem;
}

#rules-area {
  background-color: #dfdfdf;
  border: 2px solid #7a378d;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem;
  transition: 0.4s;
}

#rules-area:hover {
  background-color: #f7f7f7;
}

#copy-instructions {
  font-style: italic;
  margin-top: 1rem;
}

/* Responsive */
@media (max-width: 425px) {

  #box-shadow-generator {
    flex-direction: column;
  }
  #controls-container,
  #preview {
    padding: 1rem 2rem;
  }

  #box {
    margin: 0 auto;
    height: 200px;
    width: 60%;
  }

  #generated-rule {
    margin-top: 2.5rem;
  }
}